# .gitignore

# Sécurité.
.env
.env.local
.env.development
.env.production
.env.*

# Python & Environnement virtuel.
venv/
__pycache__/
*.pyc

# Données locales (RGPD).
*.csv
*.xlsx
*.sqlite
*.db
*.txt

# Pytest
.coverage
htmlcov/

# IDE settings.
.vscode/
.idea/